<app-header></app-header>
<div class="article-header" *ngIf="!loading && article.title">
    <div class="article-title">
        <button mat-icon-button class="back-button" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    
    <mat-card-title style="padding-left: 60px; padding-bottom: 20px;">{{ article.title }}</mat-card-title>
    <div class="article-infos">
        <span>{{ article.author }}</span>
        <span>{{ article.topicTitle }}</span>
        <span>{{ article.createdAt | date: 'dd/MM/yyyy' }}</span>
    </div>
</div>

<div class="article-content" *ngIf="!loading && article.title">
    <p>{{ article.content }}</p>
    <mat-divider style="margin-top: 20px;margin-bottom: 20px;"></mat-divider>
    <h2>Commentaires</h2>
    <div *ngFor="let comment of comments">
        <div class="comment-details">
            <span>{{ comment.author }}</span>
            <span class="comment-content">{{ comment.content }}</span>
        </div>
    </div>
    <form class="add-comment" [formGroup]="commentForm" (ngSubmit)="addComment()">
        <textarea class="textarea-comment" placeholder="Écrivez ici votre commentaire" formControlName="comment"></textarea>
        <button mat-icon-button type="submit">
            <img style="height: 25px;" src="/assets/send.png" alt="send" />
        </button>
    </form>
</div>
<div class="center" *ngIf="!loading && !article.title">
    <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>Aucun article trouvé</h2>
</div>