<app-header></app-header>
<div class="article-title">
    <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="new-article-fields">
    <h2>Créer un nouvel article</h2>
      <select class="new-article-topic" id="topic-select" [(ngModel)]="article.topicTitle">
      <option value="0" disabled selected>Sélectionner un thème</option>
      <option *ngFor="let topic of topics" [value]="topic">
        {{ topic }}
      </option>
      </select>
    <input class="new-article-title" placeholder="Titre de l’article" [(ngModel)]="article.title">
    <textarea class="new-article-content" placeholder="Contenu de l’article" [(ngModel)]="article.content"></textarea>
    <button mat-raised-button color="primary" (click)="createArticle()" style="width: 100px;">Créer</button>
</div>