<div class="header">
    <div>
      <img src="/assets/logo_p6.png" alt="logo" class="header-logo" />
    </div>
    <div class="header-right" fxLayout="row" fxLayoutAlign="center center" *ngIf="isLogged()">
      <button mat-button (click)="showArticles()" [ngClass]="{'purple-text': isActiveRoute('/articles')}">Articles</button>
      <button mat-button (click)="showTopics()" [ngClass]="{'purple-text': isActiveRoute('/topics')}">Topics</button>
      <img (click)="showProfile()" [src]="profileImageSrc" alt="user" class="header-user"/>
    </div>
    <mat-sidenav-container class="sidenav-container" *ngIf="isLogged()" [ngClass]="{ 'closed': !sidenav.opened }">
      <mat-sidenav #sidenav mode="side" position="end">
        <mat-nav-list>
          <a mat-list-item (click)="showArticles()">Articles</a>
          <a mat-list-item (click)="showTopics()">Topics</a>
        </mat-nav-list>
        <img (click)="showProfile()" [src]="profileImageSrc" alt="user" class="header-user" />
      </mat-sidenav>
      <mat-sidenav-content>
        <button mat-mini-fab (click)="sidenav.toggle()" *ngIf="isLogged()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  