.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-logo {
  height: 250px;
  margin-bottom: 20px;
}

.home-buttons {
  display: flex;
  gap: 50px;
}

.link-button {
  border: solid 1px #000;
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 768px) {
  .home-buttons {
    flex-direction: column;
  }

  .home-logo {
    height: 150px;
  }
}